[{*.gradle.kts,*.kt,*.kts,*.main.kts}]
charset = utf-8
end_of_line = lf
indent_size = unset
indent_style = space
insert_final_newline=true
max_line_length = 120
tab_width = 4
ij_kotlin_allow_trailing_comma = true
ij_kotlin_allow_trailing_comma_on_call_site = true
disabled_rules=no-wildcard-imports,experimental:spacing-between-declarations-with-comments,trailing-comma-on-call-site,trailing-comma-on-declaration-site