[{*.gradle.kts,*.kt,*.kts,*.main.kts}]
charset = utf-8
end_of_line = lf
indent_size = unset
indent_style = space
insert_final_newline=true
max_line_length = 120
tab_width = 4
disabled_rules=no-wildcard-imports,experimental:spacing-between-declarations-with-comments